.App {
  margin:auto;
  text-align: center;
  height: 100vh;
  overflow:auto;
}
input,button {
  display:block;
  margin: 10px auto 10px auto;
  width: 360px;
  font-size: 20px;
  border-radius: 5px;
  color: #212529;
}
li{
  padding: 5px 10px;
  margin: auto;
  margin-left: -25px;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: #ced4da;
  font-size: 20px;
  color: #212529;
  border: 1px solid #212529;
}
.display {
  text-align: center;
  overflow: scroll;
  scrollbar-width: none;
  /* background-color: #e9ecef; */
  margin: auto;
  width: 360px;
  height: 25%;
  padding: 10px;
  border-radius: 20px;
}

@media only screen and (max-width:480px){
  .display, input, button {
    width: 90%;
  }
}