@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@700&display=swap');

.App {
  position: relative;
  text-align: center;
  width: 90%;
  height: 70vh;
  margin: 0 auto;
  background: rgba( 53, 98, 166, 0.95 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 20.0px );
  -webkit-backdrop-filter: blur( 20.0px );
  border-radius: 10px;
}
@media (min-width:48rem) {
  .App {
    width: 80%;
  }
  .list-div {
    scrollbar-width: none;
  }
}
@media (min-width: 67.5rem) {
  .App {
    width: 56rem;
  }
  .list-div {
    scrollbar-width: none;
  }
}
.form {
  display: grid;
  justify-content: center;
  width: 90%;
  margin: 10px auto;
}
.form-div {
  position:absolute;
  bottom: 10px;
  width: 100%;
  margin: auto;
}
.input-div {
  width: 100%;
  margin-top: 10px;
}
.input {
  width: 100%;
}
.list-item {
  color: white;
  width: max-content;
  margin: 5px auto;
  background: rgba( 63, 81, 181, 0.90 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 20.0px );
  -webkit-backdrop-filter: blur( 20.0px );
  border-radius: 10px;
}
.list-div {
  height: 39vh;
  overflow:scroll;
}
.text {
  font-family: 'Cormorant', serif;
  text-shadow: 0 8px 12px black;
}